// STYLE DE BASE DE TOUS LES LIENS ET BOUTON DU SITE

a{
  &:link{//Le
    color: $color-link;
    text-decoration: none;
  }

  &:visited{//véritable
    color: $color-link-visited;
  }

  &:hover{//hamburger
    color: $color-link-hover;
    text-decoration: underline;
  }

  &:active{//angust
    color: $color-link-active;
  }

  &:focus{//fromage
    color: $color-link-focus;
  }
}