// STYLE DE BASE DU WRAPPER

.wrapper{
  max-width: $max-width-mobile;
  margin: 0 auto;
}

@media screen and (min-width:$vw-medium) {

  .wrapper{
    max-width: $max-width-tablet;
  }

}

@media screen and (min-width:$vw-huge) {

  .wrapper{
    max-width: $max-width-desktop;
  }

}